/* скинути підкреслення із лінку яке є по дефолту */
* {text-decoration: none;}
/* скидання за допомогою селектора елемента  */
a {text-decoration: none;}
/* створення додаткового лінку і потім прописати його у потрібні теги */
.link {text-decoration: none;}
/* скинути маркериточки із списків */
ul, ol {list-style: none;}
/* або прописуємо теж додатковий клас як із підкресленням */
.list {list-style: none;}


/* щоб перетворити рядки тексу на блокові */
img {display: block;}

/* підключення шрифтів 1) пошук figma плагін font scaner
для іх підключення заходим на google fonts там обираємо нам потрібний шрифт копіюємо зсилку і вставляємо між title і нашою папкою css стилів */

 /* ul  ol зазвичай називають класом menu */

 /* font family беремо із гуглу і через кому і пробіл прописуємо резервні шрифти або sans-serift ,без засічок 
 font-style normal  видаляємо*/

/* line-height задаємо множником 
ділимо line-height/ на font-size і записуємо число без px */


.link:hover, .link:focus {color: orange;}

/* для номеру моб ми у шрифтах видаляємо text-transform: uppercase; */

/* cursor: pointer; це дасть змогу міняти вид курсора при наведенні на інтерактивний елемент. задавати його треба у верху стилів button {cursor: pointer;}
 */

 /* для того щоб текст кнопки також наслідував шрифт прописуємо у верху, де скидали стилі та прописували зміну курсора font-family: inherit; */

/* що виносять до змінних root
кольори
шрифти
 */




  